body{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-weight: 700;
    font-size: 50px;
}
.container{
    display: grid;
    place-items: center;
    margin-top: 100px;
}

#value{
    font-size: 70px;
    font-weight: 500;
    padding-bottom: 20px;
    color: rgb(48, 77, 92);
}

/* button */
.btn{
    background-color: transparent;
    margin: auto 8px;
    padding: 8px 10px;
    font-weight: 700;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.5s;
}
.btn:hover{
    background-color: black;
    color: aliceblue;
}